<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  fill="clear" routerLink="/home">
        <ion-icon color="modal" slot="icon-only" md="arrow-back" ios="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
    <ion-item lines="full">
      <ion-input labelPlacement="floating" label="Username" [(ngModel)]="User.username" type="text" required ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input labelPlacement="floating" label="Email" [(ngModel)]="User.email" type="text" required ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input labelPlacement="floating" label="Password" [(ngModel)]="User.password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="modal" expand="block" (click)="register()" >Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1">
        <br>
        <ion-text color="medium" routerLink="/register">Already a user? Click here to log in</ion-text>
      </ion-col>
    </ion-row>

</ion-content>