<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Contacts App</ion-card-title>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="modal">Register</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col justify-content-center>
        
        <br>
        <ion-label class="already"> Already a user?</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login']" expand="block" color="tertiary">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  </ion-card>
</ion-content>